{
    "env": {
        "browser": true,
        "es6": true
    },
    "extends": [
        "eslint:recommended", 
        "standard", 
        "prettier"
    ],
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
            "jsx": true
        },
        "sourceType": "module"
    },
    "plugins": [
        "react"
    ],
    "rules": {
        "arrow-spacing" : ["error"],
        "indent": ["error", 2],
        "no-class-assign": 0,
        "no-console": 0,
        "no-multiple-empty-lines": ["error"],
        "no-trailing-spaces": ["error"],
        "no-var": ["error"],
        "prefer-const": ["error"],
        "quotes": ["error", "single"],
        "react/jsx-uses-react": [2],
        "react/jsx-uses-vars": [2],
        "semi": ["error", "never"],
        "space-before-function-paren": ["error", "always"]
    }
}